[submodule "sub_modules/feralfile-exhibition-smart-contract"]
	path = sub_modules/feralfile-exhibition-smart-contract
	url = https://github.com/bitmark-inc/feralfile-exhibition-smart-contract.git
	branch= main
